<div class="container">
	<div class="body">
		<div class="row">
			<div class="col text-center">
				<h1 class="information">基本情報</h1>
			</div>
		</div>
		<div class="row">
			<div class="col text-center">
				<h3>館内設備</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<h5 class="facility">駐車場</h5>
				<%= image_tag("parking.jpg", :size => "300x350") %>
			</div>
			<div class="col-md-3 offset-1">
				<h5 class="facility">コインランドリー</h5>
				<%= image_tag("lundry.jpg", :size => "300x350") %>
			</div>
			<div class="col-md-3 offset-1">
				<h5 class="facility">喫煙室</h5>
				<%= image_tag("smoking.jpg", :size => "300x350") %>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<h5 class="facility">wifi設備</h5>
				<%= image_tag("wifi.jpg", :size => "300x350") %>
			</div>
			<div class="col-md-3 offset-1">
				<h5 class="facility">自動販売機</h5>
				<%= image_tag("vending_machine.jpg", :size => "300x350") %>
			</div>
			<div class="col-md-3 offset-1">
				<h5 class="facility">コインPC</h5>
				<%= image_tag("coin_pc.jpg", :size => "300x350") %>
			</div>
		</div>
		<div class="border"></div>
		<div class="row">
			<div class="col text-center">
				<h1>客室設備/アメニティ</h1>
			</div>
		</div>
		<div class="row">
			<div class="col text-center">
				<div class="box1">
					<p>・シャンプー・リンス<br>
						・ボディーソープ・ハンドソープ<br>
						・バスタオル・フェイスタオル<br>
						・歯ブラシ・髭剃り<br>
						・シャワーキャップ・ヘアブラシ<br>
						・冷蔵庫・セーフティボックス<br>
					    ・ドライヤー・ズボンプレッサー</p>
				</div>
			</div>
		</div>
	</div>
</div>