<div class="container">
	<div class="body">
		<div class="row">
			<div class="col text-center">
				<h1>基本情報</h1>
			</div>
		</div>
		<div class="row">
			<div class="col text-center">
				<h5>館内設備</h5>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<h7 class="text-center">駐車場</h7>
				<%= image_tag("parking.jpg", :size => "300x350") %>
			</div>
			<div class="col-md-3 offset-1">
				<h7 class="text-center">コインランドリー</h7>
				<%= image_tag("lundry.jpg", :size => "300x350") %>
			</div>
			<div class="col-md-3 offset-1">
				<h7 class="text-center">喫煙室</h7>
				<%= image_tag("smoking.jpg", :size => "300x350") %>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<h7 class="text-center">wifi設備</h7>
				<%= image_tag("wifi.jpg", :size => "300x350") %>
			</div>
			<div class="col-md-3 offset-1">
				<h7 class="text-center">自動販売機</h7>
				<%= image_tag("vending_machine.jpg", :size => "300x350") %>
			</div>
			<div class="col-md-3 offset-1">
				<h7 class="text-center">コインPC</h7>
				<%= image_tag("coin_pc.jpg", :size => "300x350") %>
			</div>
		</div>
		<div class="border"></div>
		<div class="row">
			<div class="col text-center">
				<h1>客室設備/アメニティ</h1>
			</div>
		</div>
		<div class="row">
			<div class="col text-center">
				<div class="box1">
					<p>・シャンプー・リンス<br>
						・ボディーソープ・ハンドソープ<br>
						・バスタオル・フェイスタオル<br>
						・歯ブラシ・髭剃り<br>
						・シャワーキャップ・ヘアブラシ<br>
						・冷蔵庫・セーフティボックス<br>
					    ・ドライヤー・ズボンプレッサー</p>
				</div>
			</div>
		</div>
	</div>
</div>